footer {
  position: relative;
  width: 100%;
  color: #AAA;
  background-color: #222;
  font-family: "Poppins", sans-serif;
}
a, a:hover {
  color: unset;
}

/* AREA TITLE*/
.section1 { position: relative; padding: 20px 0; }
.section1__titleArea { display: block; text-align: center; }
.section1__titleArea .title {  
  position: relative; 
  display: inline-block; 
  padding: 0 15px;
  font-family: "Dosis", "Poppins", sans-serif;
}
.section1__titleArea .title::before,
.section1__titleArea .title::after {
  content: '';
  position: absolute;
  top: 50%; width: 40px; height: 2px; right: 100%;
  background-color: #ccc;
}
.section1__titleArea .title::after { left: 100%; }
/* END - AREA TITLE*/

.table {
  position: relative; display: table;
}
.table__row {
  position: relative; display: table-row;
}
.table__row__cell {
  position: relative; display: table-cell; vertical-align: middle;
  border-bottom: 1px solid #eceff124;
}

.table__row__cell .icon {
  padding: 10px;
  font-size: 20px;
}

.table__row__cell .medium {
  margin-bottom: 0;
  font-size: 14px;
  transition: .3s;
}

.section1__linkItem {
  cursor: pointer;
}

.section1__linkItem:hover {
  color: #007bff;
}

.section1 .table__row__cellLinks {
  vertical-align: top;
}

.section1__form input[type="text"] {
  width: 100%;
  color: #fff;
  outline: none;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid;
  background-color: transparent;
  margin-bottom: 10px;
}

.section1__form input[type="submit"] {
  position: relative;
  display: block;
  margin: auto;
  text-align: center;
  color: #fff;
  background-color: #3483FF;
  outline: none;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
}

.section1__social__list {
  list-style: none;
  padding-left: 0;
}

.section1__social__listItem {
  position: relative;
  float: left;
  padding: 10px 14px;
  width: 50px; height: 50px;
  text-align: center;
  transition: .4s;
  margin-right: 10px;
  border: 1px solid;
  cursor: pointer;
}

.section1__social__listItem.facebook:hover {
  color: #fff;
  border-color: #3b5998;
  background-color: #3b5998;
}
.section1__social__listItem.twitter:hover {
  color: #fff;
  background-color: #55acee;
  border-color: #55acee; 
}
.section1__social__listItem.instagram:hover {
  color: #fff;
  border-color: #e95950; 
  background-color: #e95950;
}

.va-m {
  vertical-align: middle;
}

.section2 {
  background-color: #111;
}

.section2 .text {
  margin: 8px 0;
  text-align: center;
}


@media (min-width: 768px) {
  .section1 .br {
    border-right: 1px solid;
  }
  .section1 .br:last-child {
    border-right: none;
  }
  .section1 .table__row__cellLinks {
    border-bottom: 0;
  }
}

@media (max-width: 768px) {
  .section1 .br {
    margin-bottom: 20px;
    border-bottom: 1px solid;
  }
  .section1 .br:last-child {
    border-bottom: none;
  }
  .section1 .table__row__cellLinks {
    border-bottom: 0;
  }
}
